/* what the heck is htis? some kind of code?!?! */

* {
    box-shadow: none !important;
    text-shadow: none !important;
}

@font-face {
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    src: local("Arial");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    background: #ffffff;

    color: #000000;

    font-family: "Arial", sans-serif;
    font-weight: bold;

    min-height: 100vh;

}

.layout {
    min-height: 100vh;
}



.main-content {
    flex: 1;
}


.content {

    margin: 2px;

    padding-bottom: 60px;

}


.card {

    background:
        rgba(255,255,255,0.92);

    border-radius:
        0px;

    padding:
        35px;

    margin:
        35px 0;

    border:
        1px solid rgba(255,255,255,0.8);

}


.card h1,
.card h2 {

    font-family: "Arial", sans-serif;
    font-weight: bold;

    font-weight: normal;

    margin-top: 0;

}

.character-header h1 {

    font-size: 52px;

}


.character-header img {

    display: block;

    margin: 0px;

    border-radius: 0%;

}


/* ---------- Text ---------- */

p {

    font-size: 22px;

    line-height: 1.8;

}


h2 {

    font-size: 34px;

}


h3 {

    font-size: 26px;

}


li {

    font-size: 22px;

    line-height: 1.7;

}

.main-content a {

    color: #828282;

    text-decoration: none;

    font-weight: bold;

}


.main-content a:hover {

    color: #2f2f2f;

}


.info-table {

    width: 100%;

    border-collapse: separate;

    border-spacing: 0;

    margin-top: 25px;

    overflow: hidden;

    border-radius: 0px;

    font-size: 21px;

}


.info-table th {

    background: #949494;

    padding: 18px;

    text-align: left;

    font-size: 22px;

}


.info-table td {

    padding: 18px;

    background: #5a5a5ab3;
}


.info-table tr:last-child td {

    border-bottom: none;

}


.info-table td:first-child {

    font-weight: bold;

    color: #0e0e0e;

}


/* ---------- Quote ---------- */

blockquote {

    margin: 20px;

    padding: 20px;

    border: none;

    font-style: italic;

    font-size: 23px;

    color: #555;

}


/* ---------- Note ---------- */

.note {

    background: #fff8d9;

    border-left: 8px solid #fcfbf8;

}


/* ---------- Divider ---------- */

hr {

    border: none;

    height: 2px;

    background: #fff3e2;

    margin: 40px 0;

}


/* ---------- Mobile ---------- */

@media (max-width:700px) {

    .character-header h1 {
        font-size: 38px;
    }


    p {

        font-size: 18px;

    }


    li {

        font-size: 18px;

    }


    .card {

        padding: 22px;

    }


    .info-table {

        font-size: 17px;

    }


    .info-table th {

        font-size: 18px;

    }


    .info-table td {

        padding: 12px;

    }

}